* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 50px;
  font-size: 16px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Bungee', cursive;
  letter-spacing: 2px;
  font-size: 3em;
  margin-bottom: -0.5rem;
  color: #3d3d3d;
}

a {
  text-decoration: none;
  color: #4990E2;
}

small {
  font-size: 0.7em;
}

.subtitle {
  font-size: 1.1em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

ul, li {
  list-style: none;
}

/* Form */
.form p {
  margin: 0 auto;
  width: 100%;
}

label {
  display: block;
  color: #4990E2;
  width: 100px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.9em;
}

input {
  text-align: center;
  font-size: 1.1em;
  outline: none;
  padding: 8px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #4990E2;
  margin-bottom: 1rem;
  color: #3C65E2;
}

.year {
  display: none;
}

.year input {
  width: 80px;
}

.submit {
  cursor: pointer;
  background: #4990E2;
  color: #fff;
  border: 1px solid #eee;
  width: 140px;
}

/* Movies */
.movie {
  margin-bottom: 0.5rem;
  padding: 15px 25px 15px 15px;
  border: 2px solid gray;
  min-height: 310px;
}

.movie h3 {
  margin-top: 1rem;
  font-size: 1.4em;
}

.poster {
  max-width: 100%;
  width: 180px;
  float: left;
  margin-right: 0;
  min-height: 180px;
}

.filler {
  width: 180px;
  height: 256px;
  background: gray;
  border: 1px solid black;
  display: inline-block;
  float: left;
}

.movie-year {
  margin-bottom: 0.5rem;
}

.plot, .awards {
  width: 280px;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 0.8rem;
}

.unpopular,
.ok,
.popular {
  font-weight: bold;
}

.unpopular {
  color: gray;
}

.ok {
  color: blue;
}

.popular {
  color: red;
}
